<h2 id="title">Tổng quan</h2>

<section id="sumary">
    <form class="form-inline">
        <label for="start">From: </label>
        <input type="date" class="form-control" id="start" placeholder="dd/mm/yyyy" required>
        <img class="icon" src="/images/admin/icon-calendar.png" alt="">
        <label for="end">To: </label>
        <input type="date" class="form-control" id="end" placeholder="dd/mm/yyyy" required>
        <img class="icon" src="/images/admin/icon-calendar.png" alt="">
        <button type="button" class="btn btn-secondary">Xem doanh thu</button>
    </form>
    <div id="chartdiv"></div>
    <section id="content">
        <h5>Tổng chi:</h5>
        <p>38.000 $</p>
        <h5>Tổng thu:</h5>
        <p>56.300 $</p>
        <h5>Thu nhập</h5>
        <p>12.000 $</p>
        <h5>Chỉ số tăng trưởng:</h5>
        <p>1.25</p>
    </section>
</section>

<section id="inventory">
    <h2>Danh sách sản phẩm gần hết hàng</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Loại</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Sô lượng</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Áo thun trơn</td>
                <td>Áo thun nữ</td>
                <td>125,000</td>
                <td>2</td>
                <td>
                    <img class="cursor" src="/images/admin/icon-edit.png" alt="edit">
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Áo thun trơn</td>
                <td>Áo thun nữ</td>
                <td>125,000</td>
                <td>2</td>
                <td>
                    <img class="cursor" src="/images/admin/icon-edit.png" alt="edit">
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Áo thun trơn</td>
                <td>Áo thun nữ</td>
                <td>125,000</td>
                <td>2</td>
                <td>
                    <img class="cursor" src="/images/admin/icon-edit.png" alt="edit">
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Áo thun trơn</td>
                <td>Áo thun nam</td>
                <td>125,000</td>
                <td>4</td>
                <td>
                    <img class="cursor" src="/images/admin/icon-edit.png" alt="edit">
                </td>
            </tr>
        </tbody>
    </table>
</section>