<link rel="stylesheet" type="text/css" media="screen" href="/style/bill.css" />
<script src="/javascript/bill.js"></script>

<h2 id="title">Quản lý đơn hàng</h2>

<section id="nav">
    <a data-quote="all" href="#">Tất cả</a>
    <a data-quote="product1" href="#">Đặt hàng</a>
    <a data-quote="product2" href="#">Sản xuất</a>
    <a data-quote="product3" href="#">Giao hàng</a>
    <a data-quote="product4" href="#">Hoàn thành</a>
</section>

<div class="products product1">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Vừa đặt hàng</p>
            <a onclick="return edit(1)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product4">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đã hoàn thành</p>
            <a onclick="return edit(2)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product1">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Vừa đặt hàng</p>
            <a onclick="return edit(3)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product1">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Vừa đặt hàng</p>
            <a onclick="return edit(4)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product2">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đang sản xuất</p>
            <a onclick="return edit(5)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product2">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đang sản xuất</p>
            <a onclick="return edit(6)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product3">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đang giao hàng</p>
            <a onclick="return edit(7)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product4">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đã hoàn thành</p>
            <a onclick="return edit(8)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product2">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đang sản xuất</p>
            <a onclick="return edit(9)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product4">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đã hoàn thành</p>
            <a onclick="return edit(10)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product3">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đang giao hàng</p>
            <a onclick="return edit(11)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>
<div class="products product3">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: 15</p>
        <p>Tổng giá: 1.950.000</p>
        <p>Khách hàng:
            <a href="#">Customer 2</a>
        </p>
        <p>Địa chỉ: D2, Bình Thạnh</p>
        <div class="inline">
            <p>24/4/2018</p>
            <p>Tình trạng: Đang giao hàng</p>
            <a onclick="return edit(12)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>

<div class="overlay edit-customer" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content">
            <a onclick="return exit()" class="close">x</a>
            <h3>Đơn hàng</h3>
            <form>
                <div class="image">
                    <img src="/images/admin/none.jpg" alt="none">
                    <input type="file" name="mf" id="mf">
                    <br>
                    <br>
                    <label for="mu">URL: </label>
                    <input type="url" name="mu" id="mu">
                    <br>
                </div>
                <div id="form">
                    <label class="text" for="code">Tên SP:</label>
                    <input class="text" type="text" name="code" id="code">
                    <br>
                    <label for="sl">SL:</label>
                    <input class="text" type="number" name="sl" id="sl">
                    <br>
                    <label for="price">Giá:</label>
                    <input class="text" type="number" name="price" id="price">
                    <br>
                    <label for="name">KH:</label>
                    <input class="text" type="text" name="name" id="name">
                    <br>
                    <label for="addr">Địa chỉ:</label>
                    <input class="text" type="text" name="addr" id="addr">
                    <br>
                    <label for="type">Tình trạng:</label>
                    <br>
                    <input class="radio" type="radio" name="type" id="product1">Vừa đặt hàng
                    <br>
                    <input class="radio" type="radio" name="type" id="product2">Đang sản xuất
                    <br>
                    <input class="radio" type="radio" name="type" id="product3">Đang giao hàng
                    <br>
                    <input class="radio" type="radio" name="type" id="product4">Đã hoàn thành
                    <br>
                    <label for="decribe">Ghi chú: </label>
                    <input class="text" type="text" name="decribe" id="decribe">
                    <br>
                    <button id="change" type="submit" class="btn btn-info">Thay đổi</button>
                    <button id="del" type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/admin.js"></script>
