<link rel="stylesheet" type="text/css" media="screen" href="/style/post.css" />
<script src="/javascript/post.js"></script>

<h2 id="title">Quản lý bài viết</h2>

<section id="form">
    <form id="search" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="input" class="sr-only">Search</label>
            <input type="text" class="form-control" id="input" placeholder="Search" onkeyup="return search()">
            <img class="icon" src="/images/icon/icon-search.png" alt="">
        </div>

        <a href="#"></a>
    </form>
</section>

<button type="button" class="btn add new-post">Viết bài mới</button>

<section id="paper">
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Chủ đề: Xu hướng thời trang của giới trẻ 2018</a>
            <p>Tóm tắt: Tất trong suốt, giày bóng, quần ống rộng... là những phong cách và phụ kiện thời trang được dự đoán
                sẽ dẫn đầu làng mốt năm 2018.</p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(1)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Thời trang: Xu hướng thời trang nam nữ trẻ đẹp mới nhất</a>
            <p>Tóm tắt: Tất trong suốt, giày bóng, quần ống rộng... là những phong cách và phụ kiện thời trang được dự đoán
                sẽ dẫn đầu làng mốt năm 2018.</p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(2)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Áo cũ, váy cũ đều như mới khi sử dụng thêm món đồ giá rẻ này!</a>
            <p>Những chiếc khăn nhỏ xinh nhưng lại đem đến những hiệu ứng thị giác mạnh mẽ đối với người đối diện là món đồ
                mà các nàng ai cũng nên có trong tủ đồ.</p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(3)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Thương hiệu Hàn đón hàng trăm lượt khách mỗi ngày</a>
            <p>Với giá tốt hơn hẳn những thương hiệu tầm trung vốn được ưa chuộng như Zara, H&M, Mango,... SOWON chiếm được
                cảm tình của phái đẹp nhờ những thiết kế nữ tính và chất lượng cao cấp, phù hợp với cả những cô nàng kĩ tính
                nhất.
            </p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(4)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Chủ đề: Xu hướng thời trang của giới trẻ 2017</a>
            <p>Tóm tắt: Tất trong suốt, giày bóng, quần ống rộng... là những phong cách và phụ kiện thời trang được dự đoán
                sẽ dẫn đầu làng mốt năm 2017.</p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(5)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Cách dùng áo chống nắng khôn khéo để có làn da trắng như Phạm Băng Băng!</a>
            <p>Tóm tắt: Mùa hè, ngoài việc sử dụng kem chống nắng thường xuyên, chị em cũng cần chọn mua áo chống nắng hợp lý
                để có thể bảo vệ làn da một cách an toàn nhất.</p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(6)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Chủ đề: Xu hướng thời trang của giới trẻ 2016</a>
            <p>Tóm tắt: Tất trong suốt, giày bóng, quần ống rộng... là những phong cách và phụ kiện thời trang được dự đoán
                sẽ dẫn đầu làng mốt năm 2016.</p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(7)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
    <div class="products">
        <img src="/images/admin/avatar.jpeg" alt="img">
        <div class="describe">
            <a class="title" href="">Chủ đề: 9 phong cách thời trang du lịch cho kỳ nghỉ lễ</a>
            <p>Nếu bạn là một người phụ nữ trưởng thành, có chút kiêu kỳ và thích sự sang trọng, hãy để thời trang Trali làm
                toát lên phong cách và thần thái của bạn bằng bộ sưu tập mới với họa tiết độc đáo mang tên "Sweet trips".
            </p>
            <div class="inline">
                <p>By&nbsp;
                    <a href="#">Actor1</a>
                </p>
                <p>28/11/2017</p>
                <p>Lượt xem: 21</p>
                <a onclick="return filter(8)" href="#">Chi tiết >></a>
            </div>
        </div>
    </div>
</section>

<div class="overlay post" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content">
            <a class="close">x</a>
            <h3>Thêm bài viết</h3>
            <form>
                <label for="post-title">Chủ đề:</label>
                <input type="text" name="name" placeholder="Title" id="post-title" required="required" />
                <label for="post-content">Nội dung:</label>
                <textarea type="text" name="content" id="post-content" placeholder="Content" required="required"></textarea>
                <br>
                <button id="submit" type="submit" class="btn btn-success">Đăng bài</button>
                <button onclick="return change()" type="button" class="edit btn btn-info">Thay đổi</button>
                <button onclick="return del()" type="button" class="edit btn btn-danger">Xóa bài</button>
            </form>
        </div>
    </div>
</div>