<link rel="stylesheet" href="/style/contact.css">
<link rel="stylesheet" href="/style/client.css">
<link rel="stylesheet" href="/style/modifyClient.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid">
    <div class="ui-67">
        <div class="ui-head bg-lblue">
            <div class="ui-details">
                <h3 id="name-header">Trần Hoàng</h3>
                <h4>Client Account</h4>
            </div>
            <div class="ui-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsN4yYo0Yo8Cgtdf3O3WbNerQe4WDc4P3Z8TzQQrR8iHy6gq5E" alt="Profile Picture"
                    class="img-responsive" width="100" height="100">
            </div>
        </div>
        <div class="ui-content">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 acc-col">
                    <section>
                        <h3>Thông tin liên lạc</h3>
                        <form class="ng-pristine ng-valid" role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inputName" class="control-label">Họ và tên:</label>
                                    <input type="text" class="form-control" id="inputName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="control-label">Email:</label>
                                    <input type="email" class="form-control" id="inputEmail3">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputPassword3" class="control-label">Số điện thoại:</label>
                                    <input type="text" class="form-control" id="inputPassword3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label">Địa chỉ:</label>
                                    <input type="email" class="form-control" id="inputEmail3">
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputPassword3" class="control-label">Tỉnh/Thành phố:</label>
                                    <input type="text" class="form-control" id="inputPassword3">
                                </div>

                                <div class="col-sm-2">
                                    <label for="inputPassword3" class="control-label">Quận/Huyện:</label>
                                    <input type="text" class="form-control" id="inputPassword3">
                                </div>

                                <div class="col-sm-2">
                                    <label for="inputPassword3" class="control-label">Zipcode:</label>
                                    <input type="text" class="form-control" id="inputPassword3">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="btn-div">
                                    <a href="#" class="btn btn-success pull-right">Cập nhật</a>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section>
                        <h3>Thông tin đăng nhập</h3>
                        <form action="/client/modifyPassword" role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inputEmail3" class="control-label">Password:</label>
                                    <div class="">
                                        <input type="password" class="form-control" id="inputEmail3">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="control-label">Nhập lại mật khẩu:</label>
                                    <div class="">
                                        <input type="password" class="form-control" id="inputPassword3">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="btn-div">
                                        <a href="#" class="btn btn-success pull-right">Cập nhật</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section>
                        <h3>Thông tin cá nhân</h3>
                        <form class="ng-pristine ng-valid" role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 control-label">Giới thiệu bản thân:</label>
                                    <div class="">
                                        <textarea rows="5" class="form-control" id="inputPassword3"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="btn-div">
                                        <a href="#" class="btn btn-success pull-right">Cập nhật</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>