<footer>
    <ul>
        <li>
            <img src="/images/icon/icon-maker.png" alt="Maker">
            <p>256 Nguyễn Văn Cừ,</p>
            <p>Quận 5, Hồ Chí Minh </p>
        </li>
        <li>
            <img src="/images/icon/icon-call.png" alt="Call">
            <p>Tel: 0931090956</p>
            <p>Tel: 0933147821</p>
        </li>
        <li>
            <img src="/images/icon/icon-mail.png" alt="Mail">
            <p>dlstore@gmail.com</p>
        </li>
        <li>
            <img src="/images/icon/icon-copyright.png" alt="Copyright">
            <p>&copy; DL in VietNam 2018</p>
        </li>
        <li class="left">
            <a href="https://www.facebook.com/nguyenhuu.datduc">
                <img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01/0fdef751204647a3bbd7eaa2827ed4f9.png">
            </a>
            <a href="#">
                <img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01/01c3aff52f2a4dffa526d7a9843d46ea.png">
            </a>
            <a href="https://www.youtube.com/watch?v=GArJ0EPu77w">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-social/60/youtube-social-media-128.png">
            </a>
        </li>
    </ul>
    <div id="logo-end">
        <img src="/images/logo/logo.png">
    </div>
    <div id="some">
        <div id="mail">
            <img src="/images/icon/icon-mail1.png" alt="mail">
        </div>
        <p>Gửi tin nhắn cho dl.vn</p>
    </div>
</footer>