<header>
    <img src="/images/logo/logo.png" alt="Logo" id="logo"></img>
    <ul>
        <a href="#">
            <img class="icon" src="/images/admin/icon-admin.png" alt="admin">
        </a>
        <a class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #009688">
                Admintrator
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item item" href="/">Sign out</a>
            </div>
        </a>
    </ul>
</header>

<nav>
    <ul>
        <a href="/admin">Tổng quan</a>
        <a href="/admin/bill">Đơn hàng</a>
        <a href="/admin/customer">Khách hàng</a>
        <a href="/admin/clothes">Mẫu áo</a>
        <a href="/admin/partern">Hình mẫu</a>
        <a href="/admin/post">Viết bài</a>
    </ul>
</nav>