
<header>
    <ul>
        <a href="/client/cart">
            <img class="icon" src="/images/icon/icon-shopping.png" alt="shopping">
        </a>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsN4yYo0Yo8Cgtdf3O3WbNerQe4WDc4P3Z8TzQQrR8iHy6gq5E" alt="Hình"> Trần Hoàng
            </button>
            <div class="dropdown-content">
                <a href="/client/modifyClient">Sửa thông tin</a>
                <a href="/client/cart">Đơn hàng đã đặt</a>
                <a href="/design">Thiết kế áo</a>
                <a href="/logout">Đăng xuất</a>
            </div>
        </div>
    </ul>
</header>

<div id="bttop" style="display: block;">
    <img src="/images/arrow/up-arrow.png">
</div>

<nav id="navbar">
    <a href="/client">
        <img src="/images/logo/logo.png" alt="Logo" id="logo"></img>
    </a>
    <ul>
        <a href="/client/printTshirt.html">In áo thun</a>
        <a href="/client/shop">Shop</a>
        <a href="/client/design">Design</a>
        <img src="/images/icon/icon-search.png" alt="Search" class="icon">
    </ul>
</nav>
