<!doctype html>
<html lang="en">

<head>
    <title>DL Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/style/pop-up.css">
</head>

<body>
    <script src="/vendor/js/jquery-3.3.1.min.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/javascript/navbar.js"></script>
    <script src="https:/cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    

    {{>header}}
    {{{body}}}    
    {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>