* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

header {
    color: tomato;
    background-color: white;
    border-bottom: solid 2px black;
    padding: 0px 20px 10px 20px;
}

#logo {
    width: 150px;
    height: 150px;
}

header ul {
    list-style: none;
    float: right;
    align-items: flex-end;
    padding-top: 120px;
}

header ul a {
    padding-left: 20px;
    float: left;
    color: #009688;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.icon {
    width: 30px;
    height: 30px;
}

.item {
    font-size: 14px;
    font-style: normal;
}

nav {
    background-color: white;
    padding: 10px 10px;
    height: 70px;
}

nav ul {
    float: right;
}

nav ul a, nav ul a:hover {
    margin-left: 10px;
    list-style: none;
    border: #009688 solid 1px;
    border-radius: 5px;
    background-color: #4188F2;
    width: 110px;
    height: 45px;
    float: left;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
}

nav ul img {
    padding: 5px 0 0 10px;
}

.cursor {
    cursor: pointer;
}

#title {
    clear: both;
    margin: 20px 5% 30px;
    color: #009688;
    font-size: 32px;
    font-weight: 650;
}

#sumary {
    margin: 0 10%;
    height: 600px;
}

#sumary .form-control {
    margin-left: 5px;
}

#sumary .form-inline img {
    margin-right: 10px;
}

#chartdiv {
    width: 70%;
    height: 500px;
    font-size: 11px;
    float: left;
}

#content {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 6%;
}

#content h5 {
    font-weight: 600;
}

#inventory {
    margin: 0 10%;
}

#inventory h2 {
    font-weight: 600;
    padding-bottom: 20px;
}

#nav {
    margin: 0 10%;
    list-style: none;
    height: 80px;
}

#nav a {
    border-left: black 1px solid;
    float: left;
    padding: 0 10px;
    font-size: 18px;
}

.products {
    margin: 0 10%;
    height: 300px;
}

.products img {
    float: left;
    width: 16%;
    margin: 0 2%;
}

.describe {
    float: left;
    height: 100px;
    width: 80%;
}

a.title {
    font-size: 32px;
}

.describe p {
    margin: 3px;
    font-size: 20px;
}

.inline {
    border-top: rgb(80, 80, 80) 1px solid;
    border-bottom: rgb(80, 80, 80) 1px solid;
    padding: 2px 0 39px 0;
    height: 35px;
}

.inline p {
    border-right: black 1px solid;
    padding: 0px 10px;
    float: left;
}

.inline a {
    float: right;
    font-size: 20px;
}

#input {
    margin: 10px 0 0 90px;
}

#customer {
    margin: 0 10%;
}

.customer {
    width: 50%;
    float: left;
    margin: 40px 0;
}

.customer img {
    width: 30%;
    float: left;
}

.customer .decribe {
    float: left;
    margin: 0px 5%;
    width: 60%;
}

.customer a {
    border-bottom: darkgray 1px solid;
    display: block;
}

#form form {
    float: left;
}

#form #nav {
    margin: 16px 0 0 33px;
    float: left;
}

#fashion {
    clear: both;
    margin: 0 5%;
}

.fashion {
    text-align: center;
    width: 16%;
    margin: 20px 2%;
    float: left;
}

.fashion img {
    width: 17%;
    max-width: 35px;
}

.fashion p {
    margin: 0;
}

.option {
    float: left;
    text-align: center;
    align-items: center;
}

#icon1 {
    width: 100%;
    max-width: 200px;
}

.add {
    float: right;
    margin-right: 9%;
    background-color: #009688;
    border-color: #4188F2;
    color: white;
}

#paper {
    clear: both;
    margin-top: 130px;
}

footer {
    clear: both;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: #4188F2;
    height: 230px;
}

footer ul {
    padding-top: 10px;
    list-style: none;
    height: 170px;
}

footer li {
    width: 19%;
    height: 150px;
    float: left;
    border-right: white dashed 2px;
    padding: 20px 0 0 0;
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

footer p {
    padding: 0;
    margin: 0;
}

.left {
    border-right: none;
}

#some {
    background-color: rgb(0, 166, 146);
    border-radius: 5px;
    border: rgb(0, 166, 146) 1px solid;
    float: right;
    margin-top: 10px;
}

#logo-end img {
    float: left;
    margin-left: 5%;
}

#mail {
    float: left;
    background-color: rgb(6, 207, 183);
    border-radius: 2px;
}

#mail img {
    margin: 3px 5px;
    width: 25px;
    height: 25px;
}

#some p {
    padding: 3px 8px;
    color: black;
    float: left;
    font-size: 14px;
}

.btn-danger {
    background-color: tomato;
}